#pairWrapperContainer{
    position: relative;


    #pairWrapperMovingBox{

        outline: 4px solid red;

        position: sticky;
        top: 5cm;

    }
}

.aboutPage{
    height: 30cm !important;
}